@font-face {
	font-family: 'Museo Slab';
	src: url("../fonts/museo-slab/Museo_Slab_300.otf") format("opentype");
	font-weight: normal;
}
@font-face {
	font-family: 'Museo Slab';
	src: url("../fonts/museo-slab/Museo_Slab_500.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: 'Museo Slab';
	src: url("../fonts/museo-slab/Museo_Slab_100.otf") format("opentype");
	font-weight: 100;
}