@font-face {
	font-family: 'Bernardette';
	src: url("../fonts/bernardette/bernadette_rough.otf") format("opentype");
	/*src: url("../fonts/bernardette/bernadette_rough.ttf") format("truetype");*/
	font-weight: normal;
}