html { height: 100%; }
*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.material-tooltip {
	z-index: 9999999999999999999999999999999999999999999999;
}

ui-page, div[data-role=page] {
	position: relative;
	height: 100%;
	overflow: hidden;
}
body {
	overflow: hidden;
}
iframe {
	border: none;
}
